<dt class="row row-no-gutters" id = "<%= "booking-#{booking.id}" %>" >
  <div class="col-xs-12 col-md-8">
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.user.titleize_name %></span>
    </div>
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.book_at %></span>
    </div>
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.checkout %></span>
    </div>
  </div>
</dt>
