$('#table-<%= @table.id %>').html("");
$('.message').html("");
$('.message').append("<div class='alert alert-success message-content'><%= t('messages.delete_success', name: @table.id ) %></div>");
setTimeout(function(){
  $('.message-content').fadeOut();
}, 3000);
