$("#post-<%= @post.id %>").html("")
$('.message').html("");
$('.message').append("<div class='alert alert-success message-content'><%= t('messages.delete_success', name: @post.titleize_title ) %></div>");
setTimeout(function(){
  $('.message-content').fadeOut();
}, 3000);
