<% provide :title, t("posts.show.name_page") %>

<div class="container">
  <div class="title-create">
    <span class="text-center"><%= @post.title %></span>
  </div>
  <div class="post-content">
    <span class="text-left"><%= @post.content %></span>
  </div>
</div>
