$gray-medium-light: #eaeaea;
$logo: #db1010;
$gray: #e7e7e7;
$container: #333;
$color-border: #bbb;
$color-button: #fff;
$color-button-background: #286090;
$color-button-border: #2e6da4;
$container-name: #e30c01;
$notice: #856404;
$notice-border: #ffeeba;
$notice-background: #fff3cd;
$color-black: #333333;
$color-white: #FFFFFF;
$color-red: #EC100E;
$color-grey: #1f232e;
$color-booking-status-border: #4cae4c;
$color-booking-status: #5cb85c;
