@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

.row-select-discount {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-gap: 20px;
}

.button-add-discount {
  width: max-content;
  padding: 5px 10px;
  position: relative;
  left: 65%;
  bottom: 7px;
  border: 1px solid $color-button-border;
  border-radius: 5px;
  background-color: $color-button-background;
  color: $color-white;
}
