<footer class="footer">
  <small>
    <%#= link_to image_tag("en.png", alt: "English"), locale:"en" %>
    <%#= link_to image_tag("vi.png", alt: "Việt Nam"), locale:"vi" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.help"), help_path %></li>
    </ul>
  </nav>
</footer>
