<p><%= @resource.email %></p>

<p><%= t("devise.mailer.change_password_text") %></p>

<p><%= link_to t("devise.mailer.button_change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>
